<style>
  .footer {
    width: 100%;
    background-image: var(--gradient);
  }
  .footer a {
    color: white;
    padding: 0.5rem;
    text-align: center;
  }
  .flex {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
</style>

<div class="footer">
  <div class="flex">
    <a href="https://github.com/Manuel-3/" target="_blank" rel="noopener noreferrer">Created by Manuel-3</a>
    <a href="https://pages.github.com" target="_blank" rel="noopener noreferrer">Made with github pages</a>
    <a href="https://github.com/Manuel-3/manuel-3.github.io" target="_blank" rel="noopener noreferrer">View source code</a>
  </div>
</div>
