button,
input[type="file"] {
    color: white;
    border: none;
    background-color: #2dae58;
    padding: 0.3rem 0.5rem;
    transition: background-color ease 0.1s;
    cursor: pointer;
}

button:hover,
input[type="file"]:hover {
    background-color: #4fcf7a;
}

button:disabled,
input[type="file"]:disabled {
    background-color: #6a6b6a;
    cursor: default;
}

/* Optional: Hide the default file input */
input[type="file"] {
    display: none;
}

/* Custom button for the file input */
.custom-file-input {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    background-color: #2dae58;
    color: white;
    cursor: pointer;
    transition: background-color ease 0.1s;
    border: none;
}

.custom-file-input:hover {
    background-color: #4fcf7a;
}
