---
import { ClientRouter } from "astro:transitions";

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Manuel-3 Github.io</title>
	</head>
	<body>
    <div class="float"><button id="theme-toggle" aria-label="Toggle theme">☀︎</button></div>
    <slot />
    <ClientRouter fallback="none"/>
	</body>
</html>

<script is:inline data-astro-rerun>
  theme = (() => {
    const localStorageTheme = localStorage?.getItem("theme") ?? '';
    if (['dark', 'light'].includes(localStorageTheme)) {
      return localStorageTheme;
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
      return 'light';
  })();

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }

  setTimeout(() => {
    document.documentElement.classList.add('theme-loaded');
  }, 1);

  window.localStorage.setItem('theme', theme);

  try {
    document.getElementById("theme-toggle")?.removeEventListener("click", handleToggleClick);
  } catch {}
  
  handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle("dark");

    const isDark = element.classList.contains("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
  }

  document.getElementById("theme-toggle")?.addEventListener("click", handleToggleClick);
</script>

<script>
  function updateZoom() {
    const zoom = window.devicePixelRatio;
    document.documentElement.style.setProperty("--zoom", zoom.toString());
  }
  window.addEventListener("resize", updateZoom);
  updateZoom();
</script>

<style>
    .float {
    position: fixed;
    top: 0.1rem;
    right: 1rem;
    transform: scale(calc(1 / var(--zoom)));
    padding: 0;
    margin: 0;
    z-index: 1000;
    transform: scale(calc(1 / var(--zoom)));
    @media screen and (max-width: var(--blog-content-width)) {
      display: none;
    }
  }
  .float button {
    cursor: pointer;
    border: none;
    background: transparent;
    color: var(--theme-bright-text-color);
    font-size: 3rem;
    transition: color 0.3s ease;
  }
  .float button:hover {
    color: var(--theme-background-color);
  }
</style>

<style is:global>
  :root {
    --purple-light: #cb63cc;
    --purple-dark: #5b69b3;

    --zoom: 1;
    --blog-content-width: 55rem;
    --gradient: linear-gradient(45deg, var(--purple-light) 0%, var(--purple-dark) 100%);
    --gradient-horizonzal: linear-gradient(90deg, var(--purple-light) 0%, var(--purple-dark) 100%);
    --outline-text-shadow-purple: -1px -1px 0 var(--purple-light), 1px -1px 0 var(--purple-light), -1px 1px 0 var(--purple-light), 1px 1px 0 var(--purple-light);

    --theme-background-color: #f4e4f8;
    --theme-text-color: #181a1b;
    --theme-bright-text-color: #181a1b;
    --theme-outline-text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    --theme-soft-shadow: 15px 15px 40px #939393;
    --theme-code-block-border-color: #dbc8dc;
    --theme-collapsible-section-background-color: #bcd8f1;
    --theme-collapsible-section-inline-code-overlay-color: #00000015;
  }

  :root.dark {
    --theme-background-color: #181a1b;
    --theme-text-color: #a8a8a8;
    --theme-bright-text-color: white;
    --theme-outline-text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    --theme-soft-shadow: 15px 15px 40px #090909;
    --theme-code-block-border-color: #233b52;
    --theme-collapsible-section-background-color: #233b52;
    --theme-collapsible-section-inline-code-overlay-color: #ffffff15;
  }
  
  :root * {
    transition: none;
  }

  /* enable color transition for theme button after load */
  :root.theme-loaded * {
    transition: color 0.3s ease, background-color 0.3s ease;
  }

  /* shiki dark mode */
  :root.dark .astro-code,
  :root.dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Variable.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Italic-Variable.woff2") format("woff2");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
  }
  
  /* @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableItalic.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
  } */

	html,
	body {
    margin: 0;
		width: 100%;
		height: 100%;
    color: var(--theme-text-color);
    background-color: var(--theme-background-color);
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
	}
  a {
    font-weight: 400;
    color: var(--purple-light); /* #67eaa9; */
    text-decoration: none;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.2s ease;
  }
  a:hover {
    text-decoration: underline;
    text-decoration-color: currentColor;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: transparent;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
  }
  p.readingTime {
    font-size: 0.9em;
    color: #737373;
  }
  p.readingTime::before {
    content: "⏳ ";
  }
  img {
    border-radius: .5rem;
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    height: auto;
  }
  .astro-code {
    border: 2px solid var(--theme-code-block-border-color);
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 0.9em;
    transition: none !important;
  }
  .astro-code span {
    transition: none !important;
  }
  p > code,
  details > summary > code {
    background-color: var(--theme-collapsible-section-inline-code-overlay-color);
    padding: .1rem .3rem;
    border-radius: .3rem;
    font-size: 0.9em;
  }
  summary {
    cursor: pointer;
    padding: .3rem 0;
    font-weight: 600 !important;
  }
  details {
    background-color: var(--theme-collapsible-section-background-color);
    border-radius: .5rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
</style>
